---
ExtraArgs: []
HeaderFileExtensions:
  - h
HeaderFilterRegex: "./include/*"
ImplementationFileExtensions:
  - c
FormatStyle: file
Checks: "-*,\
  bugprone-*,\
  -bugprone-easily-swappable-parameters, \
  -bugprone-assignment-in-if-condition, \
  -bugprone-reserved-identifier, \
  cert-*,\
  -cert-msc30-c, \
  -cert-msc32-c, \
  -cert-msc50-cpp, \
  -cert-msc51-cpp, \
  -cert-dcl37-c, \
  -cert-dcl51-cpp,
  clang-analyzer-*,\
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,\
  concurrency-*,\
  -concurrency-mt-unsafe, \
  linuxkernel-*,\
  llvm-*,\
  -llvm-header-guard, \
  misc-*,\
  modernize-*,\
  -modernize-use-trailing-return-type, \
  -modernize-use-using, \
  performance-*,\
  -performance-enum-size, \
  portability-*,\
  readability-*, \
  -readability-identifier-length"
